<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdaIn Affliate</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/Bout.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images/hero-banner.png">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">QMAP</a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">QMAP</a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

        

          <li class="navbar-item">
            <a href="/contact" class="navbar-link" data-nav-link> Contact Us</a>
          </li>
<br>
<br>
<br>
        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <!-- <a href="#" class="btn btn-primary has-before has-after"></a> -->

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

     



      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle has-before text-center">QMAP MEMBERSHIP</p>

          <h2 class="h2 section-title text-center">Managing you business with our <span class="has-before">best
              service</span></h2>

          <ul class="grid-list">

            <li>
              <div class="service-card" style="--color: 174, 77%, 50%">

                <div class="card-icon">
                  <img src="/images/service-icon-1.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	BASIC EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 267, 76%, 57%">

                <div class="card-icon">
                  <img src="/images/service-icon-2.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	BASIC-PRO EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 17, 100%, 68%">

                <div class="card-icon">
                  <img src="/images/service-icon-3.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	BASIC-MAX EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 343, 98%, 60%">

                <div class="card-icon">
                  <img src="/images/service-icon-4.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	PERMIUM EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 210, 100%, 53%">

                <div class="card-icon">
                  <img src="/images/service-icon-5.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	PERMIUM-PRO EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 157, 89%, 44%">

                <div class="card-icon">
                  <img src="/images/service-icon-6.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	PERMIUM-MAX EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <div class="service-card" style="--color: 52, 98%, 50%">

                <div class="card-icon">
                  <img src="/images/service-icon-7.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">	CLASSIC EXECUTIVE AFFILIATE</a>
                </h3>

              </div>
            </li>

            <li>
              <a href="#" class="link-card" style="--color: 203, 97%, 75%">
                <span class="span">04 More Service</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FEATURE
      -->

      <section class="section feature" id="feature" aria-label="feature">
        <div class="container">

          <!-- <figure class="feature-banner">
            <img src="./images/feature-banner.png" width="582" height="585" loading="lazy" alt="feature banner"
              class="w-100">
          </figure> -->

          <div class="feature-content">

            <p class="section-subtitle has-before">Our Product</p>

            <h2 class="h2 section-title">
              Specialist in aviding clients of financial <span class="has-before">challenges</span>
            </h2>

            <ul class="feature-list">

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 174, 77%, 50%">
                    <ion-icon name="medkit-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">BASIC EXECUTIVE AFFILIATE</h3>

                    <p class="card-text">
                      REQUIREMENTS:
                      Pay The Sum Of N2,500 To Sign-Up As A BASIC Affiliate Member; And
                      Pay The Sum Of N1,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
                      BENEFITS:
                      1Get To Earn 10 PV Instantly Upon Signing Up;
                      2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
                      3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
                      4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
                      5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
                      6Get To Earn INSTANT REFERRAL REWARD (IRR) Up To Generations Of Your Downlines
                      7Get To Earn MONTHLY FEE BONUSES (MFB) Up To 2 Generations Of Your Downlines;
                      Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams.
                      
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 241, 77%, 63%;">
                    <ion-icon name="school-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">BASIC-PRO EXECUTIVE AFFILIATE</h3>

                    <p class="card-text">
                      REQUIREMENTS:
Pay The Sum Of N5,000 To Sign-Up As A BASIC Affiliate Member; And
Pay The Sum Of N2,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
BENEFITS:
1Get To Earn 20 PV Instantly Upon Signing Up;
2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 4 Generations Of Your Downlines;
7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 4 Generations Of Your Downlines;
8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 4 Generations Of Your Downlines;
Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.

                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 343, 98%, 60%;">
                    <ion-icon name="shirt-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">BASIC-MAX EXECUTIVE AFFILIATE</h3>

                    <p class="card-text">
                      REQUIREMENTS:
                      Pay The Sum Of N10,00 To Sign-Up As A BASIC Affiliate Member; And
                      Pay The Sum Of N3,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
                      BENEFITS:
                      1Get To Earn 40 PV Instantly Upon Signing Up;
                      2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
                      3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
                      4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
                      5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
                      6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 5 Generations Of Your Downlines;
                      7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 5 Generations Of Your Downlines;
                      8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 5 Generations Of Your Downlines;
                      Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
                      
                    </p>
                  </div>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>



<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <p class="footer-list-title">About AdaIn</p>

          <p class="footer-text">
            "Discover lucrative affiliate programs and earn commissions by promoting top products and services. 
            Join us today and start building your income stream."
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Our links</p>
          </li>

          <li>
            <a href="#" class="footer-link">Home</a>
          </li>

          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Services</a>
          </li>

          <li>
            <a href="#" class="footer-link">Team</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Other links</p>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link">Portfolio</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Term & Condition</a>
          </li>

          <li>
            <a href="#" class="footer-link">Support</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Instagram post</p>
          </li>

          <li>
            <ul class="insta-post">

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-1.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-2.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-3.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-4.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-5.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

              <li>
                <div class="insta-card">

                  <figure class="post-banner">
                    <img src="./images/insta-post-6.jpg" width="77" height="63" loading="lazy"
                      alt="instagram post" class="img-cover">
                  </figure>

                  <a href="#" class="card-content">
                    <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                  </a>

                </div>
              </li>

            </ul>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; 2022 AdaIn. All Rights Reserved by AdaIn Technologies 
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Terms and conditions</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Signup</a>
          </li>

        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn has-after active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/js/about.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>