<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> QMAP</title>
    <!-- fontawasome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
     <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap"
    rel="stylesheet">

    <!-- css -->
   <link rel="stylesheet" href="/css/FAQ.css">
</head>
<body>

<section>
   <h1 class="title">QMAP FAQ's</h1>

    <div class="questions-container">
        <div class="question">
            <button>
                <span>What Is QuickMed??</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>QUCKMED Is An App & Platform Invented By ADAIN TECHNOLOGIES LTD To Enable All Nigerians, Africans And People Worldwide To Easily, Comfortably And Quickly Access And Receive Top-Notch HEALTH CARE SERVICES; Especially In Cases Of DIRE MEDICAL EMERGENCIES.
                QUICKMED Aims To Drastically Reduce, And Possibly Eradicate The Rampant Cases Of  Preventable Deaths And  Unnecessary Sufferings  Occurring Due To  The Poor And Pathetic State Of HEALTH CARE SERVICE DELIVERY In Nigeria, Africa, Most Parts Of The World.
                .</p>
        </div>

        <div class="question">
            <button>
                <span>Who Is Behind The QuickMed Initiative?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>ADAIN TECHNOLOGIES LTD Is A Nigerian Digital Tech Company Based In Abuja, The Nigerian Federal Capital.
                As Start-Up Tech Company, ADAIN Is Committed To Innovating Breakthrough Digital Products And Services That Have The Capacity To  Transform Key Sectors Of The Nigerian, African And Global Economy Radically, Positively And Speedily.
                QUICKMED Is One Such Product Developed By ADAIN, Aimed At Transforming The State Of Health Care Service Delivery In Nigeria, Africa And Beyond.
                </p>
        </div>

        <div class="question">
            <button>
                <span>Why QuickMed??</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Saving Lives And Preventing Unnecessary Deaths And Sufferings Due To Poor or Non Access To Quality HealthCare Services Is The Number One Reason For The Invention And Existence Of QUICKMED..</p>
        </div>

        <div class="question">
            <button>
                <span>How Does QuickMed Work??</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>To Utilize The QUICKMED App & Platform:
                The Prospective Healthcare Service Receivers (HSR), Which Is Pretty Much Everyone Of Us, Can Download The App From Google Play Store And Sign-Up FOR FREE. They Only Get To Pay For Healthcare Services They Eventually Receive On or Through The App.
                Healthcare Services They Can Access And Receive On/Through The App Include e-Consultation, Ambulances, Home Calling, etc.
                Because They Can Actually Make Money Through The App & Platform By Providing Their Products And Services To Prospective Healthcare Service Receivers, Prospective Healthcare Service Providers (HSP) As Well As Medical Service Facilities (MSF) Can Subscribe On The Platform And App With A Token Amount As Annual Subscription Fees.
                The App/Platform Works Pretty Much The Way Bolt or Uber Apps Work; Only Much Much Better. It Uses Advanced Technology To Quickly Connect Prospective HealthCare Service Receivers With The Nearest Qualified Health Cares Service Facilities And Providers Within 500 Meters To 2 Kilometres Of The Prospective Health Care Service
                Receiver (HSR).
                .</p>
        </div>
        <div class="question">
            <button>
                <span>How Do I Use The QuickMed App?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>You Can Download The QUICKMED App From Google Play Store, FOR FREE, And Properly Register Yourself On It As Both A Prospective Health Care Service Receiver (HSR) or A Bona-fide Health Care Service Provider (HSP) And Health Care Facility (HCF).
                .</p>
        </div>
        <div class="question">
            <button>
                <span>What Are The Benefits Of Using QuickMed?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>QUICKMED Provides Users With Manifold Benefits, Be They HSR, HSP or HCF:
                As An HSR It Enables You To Quickly And Easily  ACCESS Quality Health Care, Both For You And Others; Besides Providing You With Up To Date Information On The Latest Innovations And Trends In The Health Care Industry;
                As A HSP & HCF It Enables You To Extend The Range And Scope Of Your Practice To A National And Even Global Audience And Market. It Also Provides You With A Roburst And Highly Intelligent Business/Hospital Management System With Which You Can Easily And Comfortably Run & Manage Your Medical Practice And Business.
                
                .</p>
        </div>
       
        </div>
    </div>
</section>

<!-- external js-->
<script src="/js/FAQ.js"></script>
</body>
</html>