<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adain Affliate</title>
    <link rel="stylesheet" href="/css/pop.css">
</head>
<body>

    <div class="overlay"></div>

    <div class="popup">
        <h2>Pay into this account to Proceed</h2>
        <p>Adain Technologies Ltd</p>
        <p>0125953580</p>
        <p>Wema Bank</p>


     <a href="http://localhost:3500/api/auth/dashboard/<%= user.id %>"><button type="submit" id="okBtn"> completed </button></a> 


               
      
            
        
      
        
    </div>
    

   

    <script src="/js/pop.js"></script>
</body>
</html>
