<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/program.css" />
    <title>QMAP</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">QMAP</div>
      <ul class="nav__links">
        <li class="link"><a href="/">Home</a></li>
        <li class="link"><a href="/about">About</a></li>
      </ul>
    </nav>
 <section class="section__container plan__container">
      <p class="subheader">OUR MEMBERSHIP</p>
      <h2 class="section__header">Plan your investment with confidence</h2>
      <p class="description">
      and see what to expect
        along your journey.
      </p>
      <div class="plan__grid">
        <div class="plan__content">
          <span class="number">01</span>
          <h4>CLASSIC EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N500,000 To Sign-Up As A PREMIUM Affiliate Member; And 
            Pay The Sum Of N25,000 Monthly (Optional). <br>
            BENEFITS:
            1Get To Earn 2,000 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 10 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 10 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 10 Generations Of Your Downlines;
            9Get To Qualify For The Monthly LEADERSHIP DEVELOPMENT REWARD (LDR);
            10Get To Qualify For The All 13 Awards In Our EXCEPTIONAL PERFORMANCE RECOGNITION AWARDS (EPRA) System;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
          </p>
          <span class="number">02</span>
          <h4>	PERMIUM-MAX EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N100,000 To Sign-Up As A PREMIUM Affiliate Member; And 
            Pay The Sum Of N10,000 Monthly (Optional).
            BENEFITS:
            1Get To Earn 400 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 8 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 8 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 8 Generations Of Your Downlines;
            9Get To Qualify For The Monthly LEADERSHIP DEVELOPMENT REWARD (LDR);
            10Get To Qualify For The First 9 Awards In Our EXCEPTIONAL PERFORMANCE RECOGNITION AWARDS (EPRA) System;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
            
          </p>
          <span class="number">03</span>
          <h4>	PERMIUM-PRO EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N50,000 To Sign-Up As A PREMIUM Affiliate Member; And 
            Pay The Sum Of N5,000 Monthly (Optional).
            BENEFITS:
            1Get To Earn 200 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 7 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 7 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 7 Generations Of Your Downlines;
            9Get To Qualify For The Monthly LEADERSHIP DEVELOPMENT REWARD (LDR);
            10Get To Qualify For The First 6 Awards In Our EXCEPTIONAL PERFORMANCE RECOGNITION AWARDS (EPRA) System;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
            
          </p>
          <span class="number">04</span>
          <h4>	PERMIUM EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N25,000 To Sign-Up As A PREMIUM Affiliate Member; And 
            Pay The Sum Of N4,000 Monthly (Optional).
            BENEFITS:
            1Get To Earn 100 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 6 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 6 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 6 Generations Of Your Downlines;
            9Get To Qualify For The Monthly LEADERSHIP DEVELOPMENT REWARD (LDR);
            10Get To Qualify For The First 3 Awards In Our EXCEPTIONAL PERFORMANCE RECOGNITION AWARDS (EPRA) System;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
            
            
          </p>
          <span class="number">05</span>
          <h4>BASIC-MAX EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N10,00 To Sign-Up As A BASIC Affiliate Member; And
            Pay The Sum Of N3,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
            BENEFITS:
            1Get To Earn 40 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 5 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 5 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 5 Generations Of Your Downlines;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
          </p>
          <span class="number">06</span>
          <h4>BASIC-PRO EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N5,000 To Sign-Up As A BASIC Affiliate Member; And
            Pay The Sum Of N2,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
            BENEFITS:
            1Get To Earn 20 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR), Both As CASH & PV, Up To 4 Generations Of Your Downlines;
            7Get To Earn INSTANT UPGRADE REWARD (IUR), Both As CASH & PV, Up To 4 Generations Of Your Downlines;
            8Get To Earn MONTHLY FEE BONUSES (MFB),Both As CASH & PV, Up To 4 Generations Of Your Downlines;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams, Faster Than You or Anyone Has Ever Imagined.
            
          </p>
          <span class="number">07</span>
          <h4>BASIC EXECUTIVE AFFILIATE</h4>
          <p>
            REQUIREMENTS:
            Pay The Sum Of N2,500 To Sign-Up As A BASIC Affiliate Member; And
            Pay The Sum Of N1,000 Monthly As Your Monthly Membership Fee (MMF) (Optional).
            BENEFITS:
            1Get To Earn 10 PV Instantly Upon Signing Up;
            2Get Licensed To Use The QMAP Platform To Generate Income And Create Massive Wealth For Life, By Successfully Marketing And Promoting QUICKMED;
            3Get A Dedicated Back Office To Run & Manage Your QMAP Business From;
            4Get Access To World-Class Marketing Tools And Systems Plus An Amazing Support System & Team All Designed And Dedicated To Enable You To Easily Do The Business;
            5Get To Earn Direct Referral Reward From Unlimited Number Of People In The First Generation or Frontline Of Your Network;
            6Get To Earn INSTANT REFERRAL REWARD (IRR) Up To Generations Of Your Downlines
            7Get To Earn MONTHLY FEE BONUSES (MFB) Up To 2 Generations Of Your Downlines;
            Ultimately, Get The Opportunity To Make All The Money You Need To Achieve All Your Material And Non Material Dreams.
            
          </p>
        </div>
        
      </div>
    </section>

<!--     
    <section class="section__container lounge__container">
      <div class="lounge__image">
        <img src="assets/lounge-1.jpg" alt="lounge" />
        <img src="assets/lounge-2.jpg" alt="lounge" />
      </div>
      <div class="lounge__content">
        <h2 class="section__header">Unaccompanied Minor Lounge</h2>
        <div class="lounge__grid">
          <div class="lounge__details">
            <h4>Experience Tranquility</h4>
            <p>
              Serenity Haven offers a tranquil escape, featuring comfortable
              seating, calming ambiance, and attentive service.
            </p>
          </div>
          <div class="lounge__details">
            <h4>Elevate Your Experience</h4>
            <p>
              Designed for discerning travelers, this exclusive lounge offers
              premium amenities, assistance, and private workspaces.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Welcoming Space</h4>
            <p>
              Creating a family-friendly atmosphere, The Family Zone is the
              perfect haven for parents and children.
            </p>
          </div>
          <div class="lounge__details">
            <h4>A Culinary Delight</h4>
            <p>
              Immerse yourself in a world of flavors, offering international
              cuisines, gourmet dishes, and carefully curated beverages.
            </p>
          </div>
          <div class="lounge__details"></div>
            <h4>A Culinary Delight</h4>
            <p>
              Immerse yourself in a world of flavors, offering international
              cuisines, gourmet dishes, and carefully curated beverages.
            </p>
          </div>
        </div>
      </div>
    </section> -->

    <footer class="footer">
      <div class="section__container footer__bar">
        <p>Copyright © 2022 AdaIn Technologies. All rights reserved.</p>
        <div class="socials">
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
      </div>
    </footer>
  </body>
</html>
