<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/TERMS.css">
    <title>QMAP</title>
</head>

<body>
    <div class="bg"></div>
    <div class="terms-box">
        <div class="terms-text">
            <h2>TERMS AND CONDITIONS <br>  FOR QUICKMED AFFILIATE MARKETERS QMAP</h2>
            <p>Effective Date: 15th September, 2024</p>
            <p>Welcome To QUICKMED AFFILIATE PROGRAM (QMAP), By ADAIN TECHNOLOGIES LTD. </p>
            <p>By Enrolling As A Network Marketer With QMAP, You Enter Into A Legally Binding Agreement Governed By These Terms And Conditions. These Terms Regulate Your Rights, Obligations,
                 And Duties As A Marketer Within Our Affiliate Marketing Program. Please Read The Following Thoroughly Before Signing.</p>

            <p>1. Definitions <br>
                •	"Company": Refers To ADAIN TECHNOLOGIES LTD, Its Subsidiaries, Affiliates, And Successors. <br>
                •	"Affiliate": Any Individual Or Entity Engaged In Promoting And Selling Company Products. <br>
                •	"Product": Digital Or Physical Goods And Services Offered By The Company.<br>
                •	"Commission & Bonuses": The Financial Compensation An Affiliate Earns From Direct Or Indirect Sales Of Company Products. <br>
                •	"Confidential Information": Proprietary Business Information, Strategies, Sales Data, And Customer Information Shared With Affiliates For Business Purposes. <br>
                •	"Personal Data": Any Information Relating To An Identifiable Person That Is Protected By Data Protection Laws, Including But Not Limited To The NDPR. <br>
                </p>

            <p>2. Eligibility Requirements <br>
                To Participate In The Company’s Network Marketing Program, You Must: <br>
                •	Be At Least 18 Years Of Age. <br>
                •	Have Legal Capacity To Enter Into Contracts. <br>
                •	Be A Legal Resident Of The Federal Republic Of Nigeria. <br>
                •	Not Have Been Terminated From The Program Previously For Violations Of These Terms Or Any Applicable Laws. <br>
                </p>

            <p>3. Enrollment And Relationship <br>
                •	Enrollment Is Contingent Upon The Completion Of An Application Form And Acceptance By The Company. <br>
                •	Affiliates Are Considered Independent Contractors And Are Not Employees, Agents, Or Franchisees Of The Company. They Are Responsible For Their Own Business Operations, Including Any Tax, Social Security, And Insurance Obligations. <br>
                •	Affiliates Are Responsible For All Costs Incurred In Operating Their Business, Including Marketing And Promotional Costs, Unless Otherwise Agreed By The Company. <br>
                </p>

            <p>4. Compensation Plan <br>
                4.1 Commission Structure <br>
                •	Affiliates Are Compensated Based On A Performance-Based Commission Structure Outlined In The Company’s Compensation Plan, Which May Include Bonuses, Tiered Commissions, And Performance Incentives. <br>
                •	The Company Reserves The Right To Modify The Compensation Plan At Its Discretion, With At Least 90 Days Prior Notice. <br>
                4.2 Payment Schedule <br>
                •	Commissions Will Be Paid On A Daily, Weekly & Monthly Basis Through The Payment Method Determined By The Company. <br>
                •	Minimum Payout Thresholds May Apply, And Affiliates Must Maintain Accurate Payment Details On File. <br>
                4.3 Refunds And Commission Adjustments <br>
                
                •	There Shall Be No Refunds Of Any Money Paid To The Company As Sign-Up Fees or Monthly Membership Fees. <br>
                •	 The Company Reserves The Right To Adjust Commissions In The Event Of Product Returns, Chargebacks, Or Cancellations. <br>
                •	If A Marketer Is Found To Have Engaged In Fraudulent Activity, The Company May Withhold Commissions And Take Appropriate Legal Action. <br>
                </p>
       
       <h4>I Agree To The <span> Terms And Conditions</span> And I Read The Privacy Notice</h4>
       <div class="buttons">
           <button  class="btn red-btn" >Accept</button>
           <button class="btn gray-btn">Decline</button>
       </div>

            </div>
    </div>
</body>

</html>